// Glyphicons font path
$icon-font-path:        "../fonts/";

// Font path
$font-path:             "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$brand-blue:            rgb(151, 193, 231);
$brand-green:           rgb(192, 240, 70);

$brand-light:           rgb(121, 211, 247);
$brand-medium:          rgb(0, 167, 228);
$brand-dark:            rgb(0, 103, 165);

$light-grey:            rgb(178, 177, 177);
$medium-grey:           rgb(171, 170, 170);
$dark-green:            rgb(187, 209, 120);
$background:             #FDFDFD;