// Glyphicons font path
$icon-font-path:        "../fonts/";

// Font path
$font-path:             "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$brand-blue:            rgb(151, 193, 231);
$brand-green:           rgb(98, 209, 27);

$brand-light:           rgb(121, 211, 247);
$brand-medium:          rgb(0, 167, 228);
$brand-dark:            rgb(0, 103, 165);

$light-grey:            rgb(120, 120, 120);
$medium-grey:           rgb(100, 100, 100);
$dark-grey:             rgb(70, 70, 70);

$dark-green:            rgb(98, 209, 27);

$background:             #FDFDFD;