footer { 
  border-top: solid #DBDBDB 1px;
  padding-left: 2%;
  padding-right: 2%; 
}
#footer-social-links {
  background-color: $background;
  padding: 1em;
}
#footer-social-links a:hover > span.fa { color: $brand-blue; }
#menu-footer-navigation {  margin-top: 20px; }
#menu-footer-navigation > li > a { color: $light-grey; }
#menu-footer-navigation > li > a:hover { color: $medium-grey; }
#menu-footer-navigation > li > a > span.green { color: $brand-green; }
