footer {
  border-top: solid #DBDBDB 1px;
  padding-left: 2%;
  padding-right: 2%;
}
#footer-social-links {
  background-color: $background;
  padding: 1em;
}
#footer-social-links a > span.fa { color: $brand-light; }
#footer-social-links a:hover > span.fa { color: $brand-medium; }
#menu-footer-navigation {  margin-top: 20px; }
#menu-footer-navigation > li > a { color: $medium-grey; }
#menu-footer-navigation > li > a:hover { color: $dark-grey; }
#menu-footer-navigation > li > a > span.green { color: $brand-dark; }

@media(max-width:767px){
  footer .navbar-brand a {
    text-align: center;
  }
}
@media(min-width:768px){
    .footer navbar-brand a {
        text-align: center;
    }
}
@media(min-width:992px){
    footer .navbar-brand a {
        text-align: left;
    }
}
@media(min-width:1200px){}