  header {
  background-color: #FDFDFD;
  border-bottom: solid #DBDBDB 1px;
}

#topBannerText {
  padding: 5% 10%;
  background-color: $brand-medium;
  color: white;

  h1 {
    font-size: 3em;
  }
}

nav.navbar ul {
  margin-top: 20px;
}

a.navbar-brand > img {
  height: 60px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform:rotate(4deg);
  }
  50% {
    -webkit-transform:rotate(-4deg);
  }
  100% {
    -webkit-transform:rotate(4deg);
  }
}

a.navbar-brand:hover {
  -webkit-animation: wiggle 0.5s infinite;
}

nav.navbar ul > li > a {
  color: $medium-grey;
}

nav.navbar ul > li.current-menu-item > a {
  color: $dark-grey;
}

.nav > li > a:focus, .nav > li > a:hover {
  background: transparent;
  color: $dark-grey;
}

nav.navbar ul > li.btn-outlined {
  border-width: 1px;
  padding: 0;
  margin-right: 5px;
  margin-top: 5px;

  a {
    padding: 7px 20px;
  }
}

nav.navbar ul > li.btn-outlined.btn-light > a {
  color: white;
  background: $brand-light;
}

nav.navbar ul > li.btn-outlined.btn-light > a:hover {
  color: $brand-light;
  background: white;
}

nav.navbar ul > li.btn-outlined.btn-blue > a {
  color: white;
  background: $brand-medium;
}

nav.navbar ul > li.btn-outlined.btn-blue > a:hover {
  color: $brand-medium;
  background: white;
}

nav.navbar ul > li.nav-social {
  font-size: 1.75em;
  padding-top: 10px;
  text-align: center;

  a {
    padding: 0;
    color: $brand-light;
  }

  a:hover {
    color: $brand-medium;
  }
}

@media(max-width:767px){
  .navbar-brand {
    padding: 0;
  }
}
@media(min-width:768px){

}
@media(min-width:992px){}
@media(min-width:1200px){}