#discussion-container {
  padding: 5%;
  background-color: $background;

  #see-all-discussions-button {
    margin-top: 5%;
  }
}

#infinite-handle {
  width: 100%;
  text-align: center;
}

#infinite-handle > span { 
  background-color: $background; 
  padding: 20px 60px; 
  color: $brand-blue;
  margin-top: 5%;
  clear: both;
}

#infinite-handle > span:hover {
  background-color: $brand-blue;
  color: white;
}

.tag-cloud {
  color: #76777C;
  padding: 10px 20px;
  font-size: 1.1em;
}

.tag-cloud a {
  color: $brand-blue;
  margin-left: 20px;
}

.tag-cloud a:before {
  content: '#';
}

#discussion-container .discussion-card {
  margin-top: 30px;
  margin-bottom: 30px;

  .btn.btn-block.btn-green {
    color: white;
    background-color: $brand-green;
    border-radius: 0;
    margin-top: 30px;
    margin-bottom: 5px;
  }

}

span.infinite-loader {
  position: absolute;
  bottom: 40px;
  left: 49%;
}

.excerpt-container {
  height: 70px;
}

#project-container {

  padding: 5%;

  .project-title {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .btn.btn-block.btn-green {
    color: white;
    background-color: $brand-green;
    border-radius: 0;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  #see-all-projects-button { margin-bottom: 20px; }
}

.project-section-header h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.avatar { border-radius: 50%; }
.avatar-container > img.avatar.photo { margin-left:-10px; margin-top:-10px; }

body.single-question,
body.single-project {
  .question-body a { color: $brand-blue; }
  hr { margin-top: 0px; }
  input#submit {
    background-color: $brand-green;
    border-radius: 0;
    margin-top: 10px;
    padding: 5px 30px;
    border: none;
    margin-bottom: 10px;
  }

  article { margin-top: 5%; }

  textarea#comment {
    border-radius: 0;
    box-shadow: none;
  }

  .the-comment {
    padding-bottom: 30px;
  }

  .the-comment hr { margin-top: 10px; margin-bottom: 30px; }
}

.member-info { padding: 50px; }

body.page-template-template-about-us {
  #topBannerText { background-color: $dark-green; }
  .the-content { margin-bottom: 40px; color: $light-grey; }
  h2 { color: $medium-grey; }
}

a#see-all-projects-button { margin-top: 30px; }

#registration-form-container,
#login-form-container {
  color: $light-grey;
  padding-top: 20px;
  background-image: linear-gradient(top, $background, $background 80%, transparent 80%, transparent 100%);
  background-image: -webkit-linear-gradient(top, $background, $background 80%, transparent 80%, transparent 100%)
}
#registration-form-container label { display: none; }
#registration-form-container input[type="submit"],
input#wp-submit,
#resetpassform input[type="submit"],
#log_forms input[name="login"][type="submit"] {
  @extend .btn-blue;
  @extend .btn-outlined;
  @extend .btn;
  padding: 20px 60px;
  background-color: $background;
}

#log_forms input[name="login"][type="submit"] {
  margin-top: 30px;
  margin-bottom: 15px;
}

#registration-form-container .gform_footer {
  text-align: center;
  margin-bottom: 20px;
}
#registration-form-container .registration-input input,
#login-form-container input#user_login,
#login-form-container input#pass1,
#login-form-container input[name="user_username"],
#login-form-container input[name="user_password"],
#login-form-container input#user_pass {
  @extend .input-lg;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: $background;
  font-family: 'nexa_light', 'Arial', 'sans-serif';
  border: solid 1px $light-grey;
  margin-top: 10px;
}

form[name="forgot"] { text-align: center; margin-top: 30px; }

label[for="user_login"],
label[for="user_pass"],
p.login-remember { display: none; }
#loginform { text-align: center; margin-top: 30px; }

body.single-question article .question { border-bottom: none; }

#custom-search-form {
  margin:0;
  margin-top: 5px;
  padding: 0;
}

#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  border-radius: 0;

  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  width: 200px;
}

#custom-search-form .search-query:focus,
#custom-search-form button:focus {
  outline: none;
}

#custom-search-form button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  border-radius: 0;
}

main.main { width: 100%; }

.search-query:focus + button {
  z-index: 3;
}

.gfield_label {
  display: none;
}

body.page-template-template-contact form input[type="submit"],
#project-form-container input[type="submit"],
input.qa-edit-submit[type="submit"] {
  @extend .btn-blue;
  @extend .btn-outlined;
  @extend .btn;
  padding: 20px 60px;
  background-color: $background;
}
#project-form-container { margin-top: 5%; }
#project-form-container input[type="submit"] { margin-right: 20px; }
#project-form-container .gform_footer { text-align: right; }

#wp-question_content-editor-tools { display: none; }
form#question-form { margin-top: 40px; }
#wp-question_content-wrap.wp-editor-wrap { margin-top: 30px; }
table#question-taxonomies { margin-top: 20px; margin-bottom: 30px; }
div#ask-question { text-align: center; }
textarea.wp-editor-area { border: solid 1px; }

#start-discussion-button {
  margin-right: 25px;
  margin-bottom: 30px;
}
form[name="login"] {text-align: center; width: 50%; margin: auto;}
form[name="login"] input[name="user_username"],
form[name="login"] input[name="user_password"]
{ float: left; }
form[name="login"] input[name="user_username"] { margin-right: 10px; }
form[name="login"] input[type="submit"]  { clear: both; }


a#activity-personal-li {
display: none;
}
a#user-xprofile {
display: none;
}
a#user-friends {
display: none;
}
a#user-groups {
display: none;
}
a#user-profile {
display: none;
}
a#user-settings {
display: none;
}
a#user-messages {
display: none;
}
#user-forums {
display: none;
}   

#content {
  margin-bottom: 50px;
}