#discussion-container {
  padding: 5%;
  padding-top: 10px;
  background-color: $background;

  #see-all-discussions-button {
    margin-top: 5%;
  }
}

#infinite-handle {
  width: 100%;
  text-align: center;
}

#infinite-handle > span {
  background-color: $background;
  padding: 20px 60px;
  color: $brand-medium;
  margin-top: 5%;
  clear: both;
}

#infinite-handle > span:hover {
  background-color: $brand-medium;
  color: white;
}

.tag-cloud {
  color: #76777C;
  padding: 10px 20px;
  font-size: 1.1em;
}

.tag-cloud a {
  color: $brand-medium;
  margin-left: 20px;
}

.tag-cloud a:before {
  content: '#';
}

#discussion-container .discussion-card {
  margin-top: 30px;
  margin-bottom: 30px;

  .btn.btn-block.btn-green {
    color: white;
    background-color: $brand-light;
    border-radius: 0;
    margin-top: 30px;
    margin-bottom: 5px;
  }

}

span.infinite-loader {
  position: absolute;
  bottom: 40px;
  left: 49%;
}

.excerpt-container {
  height: 35px;
}

.project-excerpt { height: 35px; }

#project-container {

  padding: 5%;
  padding-top: 0;

  .project-title {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .btn.btn-block.btn-green {
    color: white;
    background-color: $brand-light;
    border-radius: 0;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  #see-all-projects-button { margin-bottom: 20px; }
}

.project-section-header h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.avatar { border-radius: 50%; }
.avatar-container > img.avatar.photo { margin-left:-10px; margin-top:-10px; }

body.single-question,
body.single-project {
  .question-body a { color: $brand-medium; }
  hr { margin-top: 0px; }
  input#submit {
    background-color: $brand-light;
    border-radius: 0;
    margin-top: 10px;
    padding: 5px 30px;
    border: none;
    margin-bottom: 10px;
  }

  article { margin-top: 5%; }

  textarea#comment {
    border-radius: 0;
    box-shadow: none;
  }

  .the-comment {
    padding-bottom: 30px;
  }

  .the-comment hr { margin-top: 10px; margin-bottom: 30px; }
}

.member-info { padding: 50px; }

body.page-template-template-about-us {
  #topBannerText { background-color: $brand-light; }
  .the-content { margin-bottom: 40px; color: $light-grey; }
  h2 { color: $medium-grey; }
}

a#see-all-projects-button { margin-top: 30px; }

body.single-question article .question { border-bottom: none; }

#custom-search-form {
  margin:0;
  margin-top: 5px;
  padding: 0;
}

#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  border-radius: 0;

  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  width: 200px;
}

#custom-search-form .search-query:focus,
#custom-search-form button:focus {
  outline: none;
}

#custom-search-form button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  border-radius: 0;
}

main.main { width: 100%; }

.search-query:focus + button {
  z-index: 3;
}

.gfield_label {
  display: none;
}

body.page-template-template-contact form input[type="submit"],
#project_information_form form input[type="submit"],
#project-form-container input[type="submit"],
input.qa-edit-submit[type="submit"] {
  @extend .btn-blue;
  @extend .btn-outlined;
  @extend .btn;
  padding: 20px 60px;
  background-color: $background;
}
#project-form-container { margin-top: 5%; }
#project-form-container input[type="submit"] { margin-right: 20px; }
#project-form-container .gform_footer { text-align: right; }

#project_information_form .gform_footer { text-align: center; }

#wp-question_content-editor-tools { display: none; }
form#question-form { margin-top: 40px; }
#wp-question_content-wrap.wp-editor-wrap { margin-top: 30px; }
table#question-taxonomies { margin-top: 20px; margin-bottom: 30px; }
table#question-taxonomies td { padding-right: 50px; }
div#ask-question {
  text-align: center;

  label[for="question-title"] { margin-right: 15px; }
  #question-tags-label { padding-right: 15px; }
  #wp-question_content-wrap, input[type="text"] { border: 1px solid #8C8C8C; }
  #tiny-mce { font-family: 'nexa', 'Arial', 'sans-serif'; }
}
textarea.wp-editor-area { border: solid 1px; }

#start-discussion-button {
  margin-right: 25px;
  margin-bottom: 30px;
}

#gsu_container,
#register_page_content_container,
#activate_page_content_container,
#buddypress_activate_container { margin-top: 50px; margin-bottom: 50px; }

a#activity-personal-li {
display: none;
}
a#user-xprofile {
display: none;
}
a#user-friends {
display: none;
}
a#user-groups {
display: none;
}
a#user-profile {
display: none;
}
a#user-settings {
display: none;
}
a#user-messages {
display: none;
}
#user-forums {
display: none;
}

#content {
  margin-bottom: 50px;
}

body.my-account #buddypress {
  padding: 5%;
}